.blok1, .blok2, .blok3, .blok4{
	width:200px;
	height:100px;
	margin:5px;
}

.blok1{
	background: #f00;
	position: static;
}

.blok2{
	background: #ff0;
	position: absolute;
	top: 50px;/*bottom: 50px*/
	left: 50px;/*right: 50px*/
	z-index: 1;
}

.blok3{
	background: #0f0;
	position: fixed;
	bottom: 50px;
	right: 50px;

}

.blok4{
	background: #00f;
	position: relative;
	bottom: 50px;
	right: 50px;
	z-index: 2;
}